/* Imports custom font */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Sets the font of the entire page, customizes background & ensures form is responsive */
html, body {
  font-family: montserrat, arial, verdana;
  background: #ADD8E6;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Ensures form is responsive */
body {
  display: flex;
}

/* Customizes the form */
#register {
  /* Customizes the size of the form */
  width: 650px;
  /* Customizes the position of the form to be centered */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* Ensures title and button are centered */
	text-align: center;
}

/* Customizes the form further */
#register fieldset {
  background: #FFFFFF;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	width: 85%;
}

/* Customizes "Create Your Account" header on top of the page */
.header {
  font-size: 18px;
  text-transform: uppercase;
	color: #2C3E50;
	margin: 25px auto;
  font-weight: bolder;
}

/* Ensures labels are positioned / formatted correctly*/
.container {
  width: 100%;
}

/* Customizes position & font size of labels*/
label{
  float: left;
  margin-bottom: 5px;
  font-size: small;
}

/* Customizes the input boxes */
#register input[type=text], input[type=password] {
  color: #2C3E50;
  font: small-caption;
  font-size: 16px;
  border: 1px solid #CCCCCC;
	border-radius: 3px;
  outline: none;
  width: 100%;
  padding: 15px;
	margin-bottom: 35px;
}

/* Ensures eye icon and lock are positioned correctly */
*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

/* Customizes eye icon position */
.show, .hide{
  position: absolute;
  right: 20px;
  top: 42px;
  color: #333333;
}

/* On hover changes cursor to pointer */
.show, .hide:hover{
  cursor: pointer;
}

/* Customizes position of bottom error message */
.bottomerror {
  position: absolute;
  visibility: hidden;
  font-size: 14px;
  text-align: left;
  margin-top: -30px;
}

/* Customizes appearance of input fields when bottom error message appears */
#register .container.error input {
  border-color: rgba(220, 53, 69, 1);
}

/* Customizes appearance of input fields when bottom error message disappers */
#register .container.success input {
  border-color: #00C234;
}

/* Customizes appearance of text displayed in bottom error message */
#register .container.error small {
  color: rgba(220, 53, 69, 1);
  visibility: visible;
}

/* Customizes specs of the register button */
#register .Register {
	background: #7F7FD5;
	font-weight: inherit;
	color: #FFFFFF;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	padding: 10px;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* When mouse hovers over button, the button will lighten */
#register .Register:hover {
  opacity: 0.5;
}

/* Title of pop up message after submission */
.swal-title {
  font-size: 25px;
}

/* Text content of pop up message after submission */
.swal-text {
  display: block;
  text-align: center;
  color: #61534E;
  font-size: 18px;
  margin: 10px;
}
