/* Imports custom font */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Customizes background & sets the font of the entire page & ensures form is responsive */
body {
  font-family: montserrat, arial, verdana;
  background: #ADD8E6;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Customizes the form */
#register {
  /* Customizes the size of the form */
  width: 670px;
  /* Customizes the position of the form to be centered */
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* Ensures title and button are centered */
	text-align: center;
}

/* Customizes the form further */
#register fieldset {
  background: white;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	width: 85%;
}

/* Customizes "Create Your Account" header on top of the page */
.header {
  font-size: 18px;
  text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 25px;
}

/* Customizes icon displayed in top error message */
.icon{
  position: absolute;
  left: 10px;
  top: 18px;
  color: rgba(114, 28, 36,1);
}

/* Customizes top error message */
#toperror {
  margin-bottom: 20px;
  padding: 0px;
  text-align: left;
  font-size: 11.8px;
  border-style: solid;
  border-width: 0px;
  background-color: rgba(248, 215, 218, 1);
  border-color: rgba(220, 53, 69, 1);
  color: rgba(114, 28, 36,1);
}

/* Ensures labels are positioned / formatted correctly*/
.container {
  width: 100%;
}

/* Customizes position & font size of labels*/
label{
  float: left;
  margin-bottom: 5px;
  font-size: small;
}

/* Customizes the input boxes */
#register input[type=text], input[type=password] {
  color: #2C3E50;
  font: small-caption;
  font-size: 16px;
  border: 1px solid #ccc;
	border-radius: 3px;
  outline: none;
  width: 100%;
  padding: 15px;
	margin-bottom: 35px;
}

/* Customizes eye icon position */
.show, .hide{
  position: absolute;
  right: 43px;
  top: 43px;
  color: #333;
}

/* Defines the colours for each lock state */
.ui-modal {
  --color-primary: #2C3E50;
  --color-error: #F08080;
  --color-success: #66CDAA;
}

/* Ensures colour of lock is blue when idle (untouched)*/
[data-state~="idle"] .ui-icon {
  --color: var(--color-primary);
}

/* Ensures colour of lock is red, and shakes (animation) when error occurs */
[data-state~="idle.error"] .ui-icon {
  --color: var(--color-error);
  animation: icon-error 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation-fill-mode: forwards;
}

/* Ensures colour of lock is green when successful */
[data-state~="success"] .ui-icon {
  --color: var(--color-success);
}

/* Ensures all animation transformations for the states of the lock is smooth */
/* Eg. Going from blue (idle) to red (idle.error) is smooth, not glitchy */
*, *:before, *:after {
  transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  transition-property: transform, opacity, background-color, border-color;
  transition-delay: 0s;
}

/* Transformation Properties of  red lock (lock is instructed to shake) */
@keyframes icon-error {
  from, 85%, to {transform: none;}
  20%, 50% {transform-origin: right center; transform: translateX(-15%) scaleX(1.1);}
  35%, 65% {transform-origin: left center; transform: translateX(15%) scaleX(1.1);}
}

/* Position and size of lock */
.ui-icon {
  position: absolute;
  top: 25px;
  right: 0px;
  height: 2.8rem;
  width: 2.8rem;
}

/* Appearance of full (bottom and upper part) lock */
.ui-icon > .ui-lock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensures lock appears and positioned correctly */
.ui-icon > .ui-lock:before, .ui-icon > .ui-lock:after {
  content: '';
  position: absolute;
}

/* Modifies bottom part of lock (square) */
.ui-icon > .ui-lock:after {
  background-color: var(--color);
  height: 30%;
  width: 45%;
  transform: translateY(50%);
  border-radius: 2px;
}

/* Modifies upper part of lock (handle) */
.ui-icon > .ui-lock:before {
  width: 30%;
  height: 50%;
  border-radius: 1rem;
  border: 4px solid var(--color);
}

/* Ensures eye icon and lock are positioned correctly */
*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

/* Customizes position of bottom error message */
.bottomerror {
  position: absolute;
  visibility: hidden;
  font-size: 14px;
  text-align: left;
  margin-top: -30px;
}

/* Customizes appearance of input fields when bottom error message appears */
#register .container.error input {
  border-color: rgba(220, 53, 69, 1);
  color: rgba(220, 53, 69, 1);
}

/* Customizes appearance of input fields when bottom error message disappers */
#register .container.success input {
  border-color: none;
}

/* Customizes appearance of icon displayed in bottom error message */
#register .container.error i {
  color: rgba(220, 53, 69, 1);
  visibility: visible;
}

/* Customizes appearance of text displayed in bottom error message */
#register .container.error small {
  color: rgba(220, 53, 69, 1);
  visibility: visible;
}

/* Customizes appearance of password generator when bottom error message appears */
#register .container.error input[type=button] {
  border: none;
  color: white;
}

/* Customizes password generator button appearance */
#randombutton {
  font-size: 10px;
  background: #66CDAA;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

/* Customizes position of  password generator button */
.rbtn {
  position: absolute;
  margin-top: -47px;
  right: 0;
}

/* Customizes specs of the register button */
#register .registerbtn {
  width: 50%;
	background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
  margin-top: 20px;
}

/* When mouse hovers over button, the button will lighten */
#register .registerbtn:hover {
  opacity: 0.5;
}
