/* Imports custom font */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@charset "UTF-8";

*, *:before, *:after {
  transition: all 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  transition-property: transform, opacity, background-color, border-color;
  transition-delay: 0s;
}

/* Ensures colour of the lock is white when idle*/
[data-state~="idle"] .ui-icon {
  --color: var(--color-primary);
}

/* Ensure colour of lock is red when error occurs */
[data-state~="idle.error"] .ui-icon {
  --color: var(--color-error);
  animation: icon-error 1s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation-fill-mode: forwards;
}

/* Ensure colour of lock is green when successfully submitted */
[data-state~="success"] .ui-icon {
  --color: var(--color-success);
}

/* Properties of text field when successfully submitted (green lock) */
[data-state]:not([data-state~="idle"]) .emailfield {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

/* Properties of text field when successfully submitted (green lock) */
[data-state]:not([data-state~="idle"]) .passfield {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

/* Properties of text field when successfully submitted (green lock) */
[data-state]:not([data-state~="idle"]) .cpassfield {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

/* Properties of  button when successfully submitted (green lock) */
[data-state]:not([data-state~="idle"]) .registerbtn {
  pointer-events: none;
  cursor: not-allowed;
}

/* Transformation Properties of  red lock */
@keyframes icon-error {
  from, 85%, to {transform: none; }
  20%, 50% {transform-origin: right center; transform: translateX(-30%) scaleX(1.1);}
  35%, 65% {transform-origin: left center; transform: translateX(30%) scaleX(1.1);}
  }

/* Transformation Properties of  green lock */
@keyframes icon-bg-success {
  from {transform: scale(1); opacity: .5;}
  to {transform: scale(4); opacity: 0; }
  }

/* Position of lock */
  .ui-modal {
    --color-primary: white;
    --color-error: #F08080;
    --color-success: #66CDAA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

/* Size of lock */
  .ui-icon {
    height: 5rem;
    width: 5rem;
    margin-bottom: 0.3rem;
  }

/* Overall appearance and position of lock */
  .ui-icon > .ui-lock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ui-icon > .ui-lock:before, .ui-icon > .ui-lock:after {
    content: '';
    position: absolute;
  }

  .ui-icon > .ui-lock:after {
    background-color: var(--color);
    height: 25%;
    width: 45%;
    transform: translateY(50%);
    border-radius: 2px;
  }

  .ui-icon > .ui-lock:before {
    width: 30%;
    height: 50%;
    border-radius: 1rem;
    border: 4px solid var(--color);
  }

/* Position of reset button (X) */
  .ui-reset {
    appearance: none;
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
  }

/* Properties of reset button (X) */
  .ui-reset:before {
    content: 'ｘ';
    color: #AAAFBD;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
  }

/* Properties of reset button (X) */
  .ui-reset:focus {
    outline: none;
    cursor: pointer;
  }

/* Customizes background & sets the font of the entire page */
body {
  font-family: montserrat, arial, verdana;
  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative; }

/* Customizes "Create Your Account" header on top of the page */
.header {
  font-size: 18px;
  text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 25px;
}

/* Customizes icon displayed in top error message */
.icon{
  position: absolute;
  left: 10px;
  top: 18px;
  color: rgba(114, 28, 36,1);
}

/* Customizes top error message */
#toperror {
  margin-bottom: 20px;
  padding: 0px;
  text-align: left;
  font-size: 11.8px;
  border-style: solid;
  border-width: 0px;
  background-color: rgba(248, 215, 218, 1);
  border-color: rgba(220, 53, 69, 1);
  color: rgba(114, 28, 36,1);
}

/* Customizes the overall position of the form box*/
#register {
  width: 700px;
  /* top/bottom & right/left */
	margin: 15px auto;
	text-align: center;
	position: relative;
}

/* Customizes the format inside the form box */
#register fieldset {
  background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 85%;
	margin: 0 10%;
	/*stacks fieldsets / fieldboxes above each other*/
	position: relative;
}

/* Ensures labels are positioned / formatted correctly*/
.container{
  width: 100%;
  --bg: #E3E6F9;
  --color: var(--color-primary);
  margin: 25px auto;

  &:before {
      background-color: var(--color-primary);
      transform: translateX(-100%);
    }

    &:focus-within:before {
      transform: none;
    }
}

/* Ensures labels are positioned / formatted correctly*/
label{
  float: left;
  margin-bottom: 5px;
  font-size: small;
}

/* Customizes eye icon position */
.show, .hide{
  position: absolute;
  right: 10px;
  top: 40px;
  color: #333;
}

/* Customizes the specs of  input boxes */
#register input[type=text], input[type=password] {
  padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
  font: small-caption;
  font-size: 16px;
  outline: none;
}

/* Customizes password generator appearance */
#register .container.error input[type=button] {
  border: solid grey 1px;
  color: black;
}

/* Customizes appearance of input fields when bottom error message appears */
#register .container.error input {
  border-color: rgba(220, 53, 69, 1);
  color: rgba(220, 53, 69, 1);
}

/* Customizes appearance of input fields when bottom error message disappers */
#register .container.success input {
  border-color: none;
}

/* Customizes appearance of text displayed in bottom error message */
#register .container.error small {
  color: rgba(220, 53, 69, 1);
  visibility: visible;
}

/* Customizes appearance of icon displayed in bottom error message */
#register .container.error i {
  color: rgba(220, 53, 69, 1);
  padding-left: 4px;
  visibility: visible;
}

/* Customizes password generator position */
#randombutton {
  font-size: 10px;
  margin-left: 415px;
}

/* Customizes position of random button */
.rbtn {
  margin-top: -11px;
}

/* Customizes position of bottom error message */
.bottomerror {
  visibility: hidden;
  position: absolute;
  text-align: left;
  font-size: 14px;
  margin-top: -10px;
}

/* Customizes specs of the register button */
#register .registerbtn {
  width: 50%;
	background: #66CDAA;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
}

/* When mouse hovers over button, the button will lighten */
#register .registerbtn:hover {
  opacity: 0.5;
}
