/* Imports custom font */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Customizes background & sets the font of the entire page */
body {
  font-family: montserrat, arial, verdana;
  background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}

/* Customizes "Create Your Account" header on top of the page */
.header {
  font-size: 18px;
  text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 25px;
}

/* Customizes the overall position of the form box*/
#register {
  width: 600px;
  /* top/bottom & right/left */
	margin: 50px auto;
	text-align: center;
	position: relative;
}

/* Customizes the format inside the form box */
#register fieldset {
  background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	/*stacks fieldsets / fieldboxes above each other*/
	position: relative;
}

/* Ensures labels are positioned / formatted correctly*/
.container{
  width: 100%;
}

/* Ensures labels are positioned / formatted correctly*/
label{
  float: left;
  margin-bottom: 5px;
  font-size: small;
}

/* Customizes the specs of  input boxes */
#register input[type=text], input[type=password] {
  padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
  font: small-caption;
  font-size: 16px;
  outline: none;
}

.bottomtext {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  position: relative;
}

.bottomtext i {
  visibility: hidden;
  position: absolute;
  right: 20px;
  top: -53px;
  font-size: 17px;
}

.bottomtext small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Customizes appearance of input fields when bottom error message appears */
#register .container.error input {
  border-color: rgba(220, 53, 69, 1);
  color: rgba(220, 53, 69, 1);
}

/* Customizes appearance of input fields when bottom error message disappers */
#register .container.success input {
  border-color: #2ECC71;
}

/* Customizes appearance of text displayed in bottom error message */
#register .container.error small {
  color: rgba(220, 53, 69, 1);
  visibility: visible;
}

/* Customizes appearance of icon displayed in error message */
#register .container.error i.fa-exclamation-circle {
  color: rgba(220, 53, 69, 1);
  visibility: visible;
}

/* Customizes appearance of icon displayed in success message */
#register .container.success i.fa-check-circle {
  color: #2ECC71;
  visibility: visible;
}

/* Customizes specs of the register button */
#register .registerbtn {
  width: 50%;
	background: #66CDAA;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

/* When mouse hovers over button, the button will lighten */
#register .registerbtn:hover {
  opacity: 0.5;
}

/* Pop up message after submission */
.swal-text {
  display: block;
  text-align: center;
  color: #61534e;
  font-size: 17px;
  margin: 10px;
}
